/* Bakgrunnsbildent høyre side */
#bakgrunnBilde1{
    background-image: url(../img/booking_bakgrunn/langbord.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: right;
}
/* Bakgrunnsbildent venstre side */
#bakgrunnBilde2{
    background-image: url(../img/booking_bakgrunn/langbord.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: left;
}
/* alt rundt info-boksen */
.info{
    margin: 20px auto 20px auto;
    width: 400px;
    padding: 10px;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    border-bottom: white solid;
}
/* sentrerer h2 tagen */
.info h2{
    text-align: center;
    border-bottom: white solid;
}

/* teksten inne i info */
.bookingInfo{
    text-align: center;
    margin:auto;
    padding: 20px;
    background-color: rgb(70, 70, 70);
    height: 570px;
    width: 300px;
    font-style: italic;
}
/* for å skille ut URL- */
.bookingInfo a{
    color: rgb(146, 207, 245);/*Link til lokalet*/
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/* for å understreke underoverskriftene */
.bookingInfo b{
    text-decoration-line: underline ;
    text-decoration-thickness: 2px;
    color: white;
}

/*TIL BOOKINGBOKSENE I BOOKBORD OG BOOKLOKALE*/

/* dette er selve boksen alle input elementene er inni */
.book-boks{
    background-color: #8a8a8a;
    display: block;
    margin: 30px auto 30px auto;
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    /*          rgt  bot  smoke     */
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border-bottom: black solid;
}
/* h2 tagene i booking */
.book-boks h2 {
    /*      top right bottom        */
    margin: 0px 0px 30px;
    /*       nesten umerkbart   */
    padding: 0px;
    text-align: center;
    color: #101010;
}
/* setter divenes posisjon  */
.book-boks .input-boks{
    position: relative;
}
/* definerer utsende på input tagen */
.book-boks .input-boks input{
    background: transparent;
    color: #101010;
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 5px #101010 solid;
}
/* definerer utsende på select tagen */
.book-boks .input-boks select{
    color: #101010;
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    border: 5px #101010 solid;
}

/* https://stackoverflow.com/questions/2789741/how-can-i-set-the-background-color-of-option-in-a-select-element */
/* setter bakgrunnsfarge */
select option {
    background-color: #d7d7d7;
}
/* styler teksten inne i input-boks divene */
.book-boks .input-boks label {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 0px;
    font-size: 16px;
    color: #101010;;
    transition: 0.5s;
}
/* setter posisjonene til label tagen */
.book-boks .input-boks input:focus ~ label,
.book-boks .input-boks input:valid ~ label {
    top: -18px;
    left: 0px;
    color: rgb(50, 53, 53);
    font-size: 12px;
}
/* styler knappen */
.book-boks button[type = "submit"]{
    background: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border: 5px#000000 solid;
}
/* knappen endrer fargen når du holder over knappen */
.book-boks button[type = "submit"]:hover{
    background-color: #fff;
    color: #000000;
}




/*BUTTON KNAPPER TIL BOOOKING*/
/* diven rundt knappene til bookbord.html og bookLokale.html */
.bookingKnapper{
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
}
/* styler selve knappen inne i bookingKnapper diven */
.Knapp{
    border: none;
    outline: 0;
    display: inline-block;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.673);
    padding: 10px 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
}



/* For telefon under 1000px */
/*  */
@media (max-width: 1000px) {.info { 
    /* display: block;   */ 
    font-size: 14px;
   }}

/*    @media (max-width: 1000px) {.bookinginfo .info{
    width
    
  }} */
  @media (max-width: 1000px) {#bakgrunnBilde2, #bakgrunnBilde1 {
    background-image: none;
  }}
  
 
  
  

/* Telefon under 500px */
  @media (max-width: 400px) {.info {
    display: block; 
    width: 100%;
   }}
   @media (max-width: 400px) { .bookingInfo{
    width: 90%;
    height: auto;
   }}

   
   @media (max-width: 500px) {#bakgrunnBilde1, #bakgrunnBilde2 {
    background-image: none;
  }} 
  
   
   
   
  /*  @media (max-width: 500px) {.book-boks{
    width: 500px;
    height: 700px;
  }} */