/* Header Bilde Bakgrunn ___________________________________________________________________________________________________*/
.headerBildeBakgrunn{
    /* ../img/Resturant_bakgrunn.jpg */
    background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.5)) , url(../img/Resturant_bakgrunn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    padding-bottom: 1px;

    /* 50% gjøt at bildet altid er sentrert */
    /* 140% gjør at vi kan se kokken når bredden til siden er større enn 1000px */
    background-position: 50% 100%;
}

/* Logo ___________________________________________________________________________________________________*/
.logo{
    height: 100px;
    margin: 20px;
}

/* alle lenker har i utgandspunk padding: 10 */
.logoLenke{
    padding: 0px;
}

/* Knapper ___________________________________________________________________________________________________*/
.headerLenkeContainer{
    text-align: center;
}
.headerLenkeContainer a {
    font-size: 30px;
    color: #fff;
}

.headerLenkeContainer br{
    display: none;
}

/* Header tekst ___________________________________________________________________________________________________*/

.headerOverskriftContainer{
    width: fit-content;
    padding: 10px;
    margin: 100px auto 100px auto;
    border-bottom: 5px solid #fff;
}
.headerOverskriftContainer h1{
    font-size: 50px;
}

/* max-width:1000px ___________________________________________________________________________________________________*/
@media (max-width:1000px){.headerLenkeContainer a, .headerLenkeContainer br{
    font-size: 50px;    /* .headerLenkeContainer a */
    display: block;     /* .headerLenkeContainer br */
  }}



