/* angir utsenede på header'en */
/* setter bile som bakgrunn i header'en */
.bildeBakgrunn{
    text-align: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)) ,url(../img/Resturant_bakgrunn.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 700px;
}
/* putter Stanley Restaurant & Catering sin logo i center */
.bildeTekst{
    text-align: center;
    width: 540px;
    margin: auto;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid #dfdfdf;
   }
   .bildeTekstBooking{
    text-align: center;
    width: 220px;
    margin: auto;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid #dfdfdf;
   }
   .bildeTekstMeny{
    text-align: center;
    width: 150px;
    margin: auto;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid #dfdfdf;
   }
   .bildeTekstAccessibility{
    text-align: center;
    width: 320px;
    margin: auto;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid #dfdfdf;
   }
   .bildeTekstTopical{
    text-align: center;
    width: 200px;
    margin: auto;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid #dfdfdf;
   }
/* angir utsende for skriften */
.header h1{
    color: #dfdfdf;
    font-size: 50px;
}

/* angir header'en */
.header{
    text-align: center;
    width: 100%;
    text-align: center;
    padding: 20px 0px 50px 0px;
    margin-bottom: 30px;
}
/* angir utsende p[ linkene til de andre sidene */
.header a{
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 20px;
    /*border-bottom: white solid;*/
}
/* teksten endrer farge når du holder musepekeren over */
.header a:hover{
    color: #767676;
    border-bottom: 5px solid white;
}

.ingridienser{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.logo{
    padding-top: 30px;
    width: 10%;
    height: auto;
    margin: auto;
/*     float: left;
    position: relative;
    top: -35px;
    left: 70px; */
    border-radius: 50%;
}

.header br{
    display: none;
}
@media (max-width: 1000px) {.header a, .bildeTekst{
    padding-top: 10px;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 15px;

  }}
@media (max-width: 1000px) {.header a{
    font-size: 50px;
}}


/* denne median er så alt i hedderen ikke beveger seg når man "hover" over et a ellement i header */
@media (max-width: 1000px) {.header a:hover{
    padding-bottom: 15px;
}}