.parent{
    width: 890px;
    margin: auto;
}
/* alle box- classer er for boksene på indeks.html */


.box-right{
    display: inline-block;
    clear: both; 
    margin: 50px auto auto auto; 
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}
.boksTekst h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#bookingBoks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url("../img/bord.jpg");
}
#menyBoks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url("../img/food.png");
}


.box-left{
    display: inline-block;
    clear: both;
    margin: 50px auto auto auto;
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}
#accessibilityBoks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url("../img/kode.png");
}
#topicalBoks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../img/telefon.jpg");
}

@media (max-width: 1000px) {.box-right, .box-left {
    display: block;
    width: 80%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
  }}
  @media (max-width:1000px){.boksTekst h1{
    font-size: 50px;

  }}
  
   


  