.boksParContainer{
    width: 90%;
    margin: auto;
    display: flex;
}

.boksParContainer a{
    width: 100%;
    padding: 0px;/* fjerner den styleshhet sin padding: 10px */
    margin-right: 20px;
    margin-top: 20px;

}

.indeksBoks {
    border-radius: 30px;
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.animasjonContainer {
    position: relative; 
    top: 30%;
    width: fit-content;
    margin: auto;


}
.animasjonContainer h1{
        /* font */
        font-size: 45px;
        transition: 0.4s;

}
.underlinje{
    border-radius: 10px;
    background-color: rgb(143, 0, 0);       /* farge på underlinja */
    height: 6px;                    /* høyden (tykkelsen) på underlinja */
    transform: scaleX(0);           /* "bredden på underlinja før transformation" */
    transition: 0.4s;               /* "transformation speed" */
  }

.indeksBoks:hover .animasjonContainer h1{
    font-size: 50px;
    background-position: center;
}




  .indeksBoks:hover  .underlinje{       /* https://www.w3schools.com/css/tryit.asp?filename=trycss_sel_element_pluss */
    /* https://litmus.com/community/discussions/5942-hover-effect-that-changes-a-different-element */
transform: scaleX(1);           /* "bredden på underlinja etter transformation" */
}

.bookingBoks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/resturanteBilde.jpg");
}

/* gir bilde til meny bokssen */
.menyBoks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* https://unsplash.com/photos/Uck7TR7XYFo */
        url("../img/meny.png");
}

/* gir bilde til accessibility boksen */
.accessibilityBoks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* https://unsplash.com/photos/f77Bh3inUpE */
        url("../img/kode.png");
}

/* gir bilde til topical boksen */
.topicalBoks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* https://unsplash.com/photos/EQSPI11rf68 */
        url("../img/topical.png");
}



@media (max-width: 1000px) {.boksParContainer{
    display: block;/* boksParContainer */
  }}