/* diven som går rundt alle diven på index.html */
/* holder divene på plass */
.parent{
    width: 890px;
    margin: auto;
}
/* alle box- classer er for boksene på indeks.html */
/* styling for diven som ligger på høyre side */
.box-right{
    display: inline-block;
    clear: both; 
    margin: 50px auto auto auto; 
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}
/* putter teksten i midten av divene */
.boksTekst h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* gir bilde til booking boksen */
#bookingBoks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url("../img/resturanteBilde.jpg");
}
/* gir bilde til meny bokssen */
#menyBoks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url("../img/Roastbiff.jpg");
}
/* styling for diven som ligger på venstre side */
.box-left{
    display: inline-block;
    clear: both;
    margin: 50px auto auto auto;
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}
/* gir bilde til accessibility boksen */
#accessibilityBoks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url("../img/kode.png");
}
/* gir bilde til topical boksen */
#topicalBoks{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../img/sosiale_medier.jpg");
}
/* For telefon med bredde mindre enn 1000px */
/* setter div boksene til bredde 80% og setter diven til display block isteden for inline-block */
@media (max-width: 1000px) {.box-right, .box-left {
    display: block;
    width: 80%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
  }}
/* setter teksten til 50px */
@media (max-width:1000px){.boksTekst h1{
    font-size: 50px;
}}
/*endrer posisjonen på bildeutsnittet */
@media (max-width:1000px){#menyBoks{
    background-position:  0px 60%;
}}
@media (max-width:1000px){#topicalBoks{
    background-position:  0px 35%;
}}


  
   


  