.innhold {
    margin: auto;
    padding: 10px;
    width: 1000px;
    height: 1650px;
    position: relative;
}

/* https://www.w3schools.com/tags/tag_dt.asp */




.meny{
    text-align: center;
}
.menyImg{
    float: right;
    width:  300px;
    height: 330px;
    object-fit: cover;
}

.lunsjer1{
    text-align: center;
}


/*




*/