.innhold {
    margin: auto;
    padding: 10px;
    width: 1000px;
    height: 1650px;
    position: relative;
}

/* https://www.w3schools.com/tags/tag_dt.asp */

.menyer{
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}
.menyer img{
  width: 100px;
  border-radius: 50%;
  float: right;
  margin-right: 10%;
  
}


/*




*/