/* 
    Alt i denne text.css gjeller for all tekst, medmindre overskrevet.

    Fonten er hentet fra https://fonts.google.com/specimen/Baloo+2?category=Display&preview.size=35 
    koden er på W3schools; https://www.w3schools.com/cssref/pr_import_rule.php
*/

/* importert google font */
/* https://fonts.google.com/specimen/Red+Hat+Display?category=Sans+Serif&preview.size=35&preview.text=meny_____________%20booking%20acessebilety%20page&preview.text_type=custom*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,700;1,400&display=swap');

/* smooth scroll animassjon for hele websiden */
html {
    scroll-behavior: smooth;
}
/* standar styling for alle sidene medmindre overskrevet */
body{
    margin: 0px;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #161616;
}

    /* custom scrollbar -> funker ikke bra for mobil*/
    /* width */
    /* ::-webkit-scrollbar {
        width: 15px;
    } */
    /* Track */
   /*  ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(48, 48, 48); 
        border-radius: 10px;
        background-color: #878787;
    } */
    /* Handle */
  /*   ::-webkit-scrollbar-thumb {
        background: #272727; 
        border-radius: 10px;
    } */
    /* Handle on hover */
   /*  ::-webkit-scrollbar-thumb:hover {
        background: rgb(36, 36, 36); 
    } */
    /* /custom scrollbar */
    
/* setter fargen og marginen for alle h1 - h6 tagene */
h1, h2, h3, h4, h5, h6{
    color: rgb(255, 255, 255);
    margin: 0px;
}
h1 {
    font-size: 20px;
}
/* gir alle p elementer hvit farge */
p {
    color: rgb(255, 255, 255);
}
/* standar styling for  */
a{
    height: auto;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(58, 58, 255);
}
a :hover{
    color: #767676;
    cursor: pointer;
}


img {
    height: 100%;
}

.profil-bilde{
    float: right;
    height: 150px;
    margin: 20px;
    border-radius: 100px;
    border: #003f45 3px solid;
}




/* Velkommen diven under headeren */
.div-tema2{
    width: 100%; 
    box-shadow: 0px -80px 80px rgba(0, 0, 0, 0.781);
    padding-bottom: 40px;
}

/* sentrerer teksten */         /*  Welkommen */
.div-tema2 p, .div-tema2 h1 {
    color: white;
    text-align: center;
}
.div-tema2 h1{
    border-bottom: solid 5px white;
}

#topknapp {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #topknapp:hover {
    background-color: #555;
  }
  
/* styler footeren  */
footer {
    padding-top: 10px;
    margin-top: 50px;
    clear: both;
    text-align: center;
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* de to boksene footeren er splittet opp i */
.footerboks {
    width: 1200px;
    margin: auto;
    display: flex;
  }
  /* gir kolonnefooter diven bredde 50% inne i footeren */
  .kolonnefooter{
    width: 50%;
  }
  /* setter bredden på kontakt og åpning divene til 400px inne i kolonnefooteren*/
  .kontakt, .åpning{
      width: 400px;
  }
  /* gir kontakt og åpning divene en margin-left på 25% inne i kolonnefooteren*/
  .kontakt, .åpning{
    margin-left: 25%;
  }
  /* sentrerer p elementene i kontakt og åpning divene */
  .kontakt p, .åpning p{
    text-align: center;
  }
  
/* For telefon med bredde mindre enn 1000px */
/* legger kontakt og åpningsdivene under hverandre og setter bredden til 100% */
@media (max-width: 1000px) {.åpning, .kontakt, .kolonnefooter{
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0px;
}}
/* gir footerboks og a elementene i footerboks styling slik at de holder seg i midten under hverandre */
@media (max-width: 1000px) {.footerboks, .footerboks a{
  display: block;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin: 0px;
}}
