/* 
    Alt i denne text.css gjeller for all tekst, memindre overskrevet.

    Fonten er hentet fra https://fonts.google.com/specimen/Baloo+2?category=Display&preview.size=35 
    koden er på W3schools; https://www.w3schools.com/cssref/pr_import_rule.php
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body{
    margin: 0px;
    font-family: 'Arial';
    background-image: url(../img/white.png);
}

h1, h2, h3, h4, h5, h6{
    color: #003f45;
    margin: 0px;
}

h1 {
    font-size: 20px;
}


a{
    height: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
a :hover{
    color: #767676;
    cursor: pointer;
}


.div-tema {
    border-radius: 5px;
    box-shadow: 20px 20px 10px rgba(124, 124, 124, 0.7);
    background-color: #b4c9e1;

}

dt{
    font-size: 18px;
    font-weight: bold;
}

footer {
    margin-top: 200px;
    clear: both;
}

img {
    
    height: 100%;
}


footer{
    text-align: center;
}

.profil-bilde{
    float: right;
    height: 150px;
    margin: 20px;
    border-radius: 100px;
    border: #003f45 3px solid;
}

.welkommen{
    background-color: rgb(184, 184, 184);
    color: white;
    width: 100%; 
    box-shadow: 0px -80px 80px rgba(0, 0, 0, 0.781);
}
.welkommen p, #h1Welkommen {
    text-align: center;
    padding: 40px 40px 0px 40px;
    margin: 0% 30% 0% 30%;
    padding-top: 40px;
    padding-bottom: 40px;
}
