/* 
    Alt i denne text.css gjeller for all tekst, memindre overskrevet.

    Fonten er hentet fra https://fonts.google.com/specimen/Baloo+2?category=Display&preview.size=35 
    koden er på W3schools; https://www.w3schools.com/cssref/pr_import_rule.php
*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body{
    margin: 0px;
    font-family: 'Arial';
    background-color: rgb(59, 59, 59);
}

    /* custom scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 15px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(48, 48, 48); 
        border-radius: 10px;
        background-color: #878787;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #272727; 
        border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(36, 36, 36); 
    }
    /* /custom scrollbar */
    
h1, h2, h3, h4, h5, h6{
    color: rgb(255, 255, 255);
    margin: 0px;
}

h1 {
    font-size: 20px;
}

p {
    color: rgb(255, 255, 255);
}


a{
    height: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: rgb(58, 58, 255);
}
a :hover{
    color: #767676;
    cursor: pointer;
}


footer {
    margin-top: 200px;
    clear: both;
    text-align: center;
}

img {
    
    height: 100%;
}

.profil-bilde{
    float: right;
    height: 150px;
    margin: 20px;
    border-radius: 100px;
    border: #003f45 3px solid;
}


.div-tema {
    border-radius: 0px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.7);
    background-color: #8a8a8a;
}

/* Velkommen diven under headeren */
.div-tema2{
    width: 100%; 
    box-shadow: 0px -80px 80px rgba(0, 0, 0, 0.781);
    padding-bottom: 40px;
}

/* sentrerer teksten */         /*  Welkommen */
.div-tema2 p, .div-tema2 h1 {
    color: white;
    text-align: center;
}
.div-tema2 h1{
    border-bottom: solid 5px white;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: #555;
  }