.bakgrunn{
    background-color: aliceblue;
}
.topicalinnhold{
    margin: auto;
    width: 1100px;
    height: 1700px;
    background-color: rgba(56, 51, 51, 0.601);
}
.topicalinnhold p{
   margin: 10px
}
.topicalBilde{
    height: 700px;
    position: relative;
    top: 0px;
    right: 0px;
    float: right;
}

/* .topicalinnhold img{
    height: 700px;
    float: right;
} */
.overskrift{
    text-align: center;
    padding-top: 20px;
    margin: 10px;

}
